body {
    background-color:white;
    font-family: 'spartan', sans-serif;
}

.wrapper {
    display: block;
    margin: 40px auto;
    text-align: center; 
    max-width: 60%;
}

.mysite {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
}

.mysite-footer {
    font-family: 'spartan', sans-serif;
    color: black;
    
}

.mysite-footer p {
    text-align: center;
    font-size: 15px;
    }

.mysite-content {
    flex: 1;
}

a {
    text-decoration: none;
    transition-duration: 0.4s;

}
a:link {
    color:black;
}

a:active {
    color: rosybrown;
}

a:visited {
    color: #1B428C;
}

a:hover {
    color: rosybrown;
}

h2 {
    font-family: 'spartan', sans-serif;
    text-align: center;
    margin-top: 4em;
    color: rosybrown;
    font-size: 30px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 40%;
  }

input[type="text"],
input[type="number"] {
    width: 30%;
  }

input:invalid {
    box-shadow: 0 0 5px 1px rgb(204, 106, 106);
  }
  
input:focus:invalid {
    box-shadow: none;
  }

  h1 {
      font-family: 'spartan', sans-serif;
  }

  #btn {
      background-color: rosybrown;
      color: white;
      border-radius: 5px;
      border-color: rosybrown;
      padding: 7px 10px;
      font-size: 12px;
      transition-duration: 0.3s;
  }

  #btn:hover {
    background-color: rgb(73, 177, 142);
    border-color: rgb(73, 177, 142);
    color: white;
}